body{ 
	 background-color: #d52a2a;
} 

#Pag_Capitao{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao1 {

	float: right;
	margin-top: 700px;
	margin-right: -500px;

}

#Pag_Capita_Marvel{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao2 {

	float: right;
	margin-top: 700px;
	margin-right: -500px;
}

#Pag_Homem_de_Ferro{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao3 {

	float: right;
	margin-top: 700px;
	margin-right: -500px;
}

#Pag_Hulck{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao4 {

	float: right;
	margin-top: 780px;
	margin-right: -500px;
}

#Pag_Thor{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao5 {

	float: right;
	margin-top: 780px;
	margin-right: -500px;
}

#Pag_Viuva_Negra{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao6 {

	float: right;
	margin-top: 780px;
	margin-right: -500px;
}

#Pag_Pantera_Negra{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao7 {

	float: right;
	margin-top: 780px;
	margin-right: -500px;
}

#Pag_Homem_Aranha{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao8 {

	float: right;
	margin-top: 780px;
	margin-right: -500px;
}

#Pag_Feiticeira_Escarlate{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao9 {

	float: right;
	margin-top: 780px;
	margin-right: -500px;
}

#Pag_Homem_Formiga{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao10 {

	float: right;
	margin-top: 785px;
	margin-right: -500px;
}

#Pag_Falcao{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao11 {

	float: right;
	margin-top: 785px;
	margin-right: -500px;
}

#Pag_Soldado_Invernal{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao12 {

	float: right;
	margin-top: 785px;
	margin-right: -500px;
}

#Pag_Maquina_de_Combate{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao13 {

	float: right;
	margin-top: 785px;
	margin-right: -500px;
}

#Pag_Doutor_Estranho{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao14 {

	float: right;
	margin-top: 785px;
	margin-right: -500px;
}

#Pag_Visão{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao15 {

	float: right;
	margin-top: 785px;
	margin-right: -500px;
	
}

#Pag_Odin{
	
	float: right;
	width: 500px;
	margin-top: -20px;
	margin-left;
}

#botao16 {

	
	color: red;
	float: right;
	margin-top: 785px;
	margin-right: -500px;

	
}